<div class="gzo-tab-panel-row">
	{% EVENT gzo_birthday_prepend %}

	{% if birthdays %}
		<h4 class="gzo-tab-panel-title">{{ lang('CONGRATULATIONS') ~ lang('COLON') }}</h4>
			<span class="gzo-tab-panel-text">
				{% for user in birthdays %}
					{{- gzo_username('username', user.id, user.name, user.color, 'gzo-user-birthday') ~ (user.age ? ' (' ~ user.age ~ ')') -}}{{ not loop.last ? ', ' }}
				{% endfor %}
			</span>
		{% else %}
			{{ lang('NO_BIRTHDAYS') }}
	{% endif %}

	{% EVENT gzo_birthday_append %}
</div>
