<div class="gzo-block">

	{% block block_bar %}
		<div class="gzo-bar gzo-block-bar">

			<span class="gzo-bar-item gzo-bar-info">
				<h3>{% block block_title %}{% endblock %}</h3>
			</span>

		</div>
	{% endblock %}

	{% block block_content %}{% endblock %}

</div>
