<div class="drawer-container action-toggle baihu-drawer-{{ side }}">
	{% block drawer_top %}{% endblock %}

	<nav>
		<ul class="navigation">
			{% block drawer %}{% endblock %}
		</ul>
	</nav>

	{% block drawer_bottom %}{% endblock %}
</div>
