<li>
	{% set title = lang('BAIHU_' ~ tab.title|upper) %}

	<a{% if tab.active %} class="tab-active"{% endif %} href="{{ tab.link }}" title="{{ title }}">
		{{ Icon('gzo', tab.icon, lang('BAIHU_TOOLS')) }}
		{{ title }}
	</a>
</li>
