{% embed '@baihu_baihu/includes/block-item.twig' %}

	{% set title = lang('WELCOME_GUEST') %}

	{% if S_REGISTERED_USER %}
		{% set title = lang('WELCOME') ~ S_USERNAME %}
	{% endif %}

	{% block block_title %}{{ title }}{% endblock %}

	{% block block_content %}
		<div class="block-stats">

			{% if S_REGISTERED_USER %}

				<div class="avatar-wrap mini-profile avatar-md">
					{{ avatar('user', CURRENT_USER_AVATAR, '', false, true, 'avatar-md', true) }}
				</div>

				<div class="mini-profile-info">
					{% if S_DISPLAY_PM %}

						{% set PMC = PRIVATE_MESSAGE_COUNT == 1 ? lang('NEW_PM') : lang('NEW_PMS') %}

						{{- lang('PRIVATE_MESSAGES') ~ lang('COLON') ~ link({'href': U_PRIVATEMSGS, 'title': lang('PRIVATE_MESSAGES')}, ' ' ~ PRIVATE_MESSAGE_COUNT ~ PMC) -}}

					{% endif %}
				</div>

			{% endif %}

		</div>
	{% endblock %}

{% endembed %}
