/* Area */
.page {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		'navbar navbar'
		'sidebar main'
		'sidebar footer';
	grid-template-rows: auto 1fr auto;

	@container page (inline-size < 700px) {
		grid-template-columns: 1fr;
		grid-template-areas:
		'navbar'
		'main'
		'footer';
		min-height: 100svh;
	}
}

/* Header */
.header-container {
	position: sticky;
	top: 0;
	z-index: 12;
	grid-area: navbar;
}

/* Sidebar */
.area-sidebar {
	background-color: white;
	box-shadow: 0 3px 9px 0 rgba(169, 184, 200, 0.15);
	position: sticky;
	top: var(--size-sm);
	grid-area: sidebar;
	align-self: start;
	width: 270px;
	height: calc(100dvh - var(--size-sm));
	overflow-y: auto;

	@container page (inline-size < 700px) {
		border-top: 1px solid var(--blue-gray-200);
		position: fixed;
		top: unset;
		bottom: 0;
		z-index: 11;
		height: var(--size-sm);
		width: 100%;
	}
}

/* Navigation */
.navigation-container {
	ul {
		padding: 0px;
	}

	.navigation-divider {
		margin: 10px 0 20px 25px;
	}

	.navigation-link {
		font-size: var(--font-size);
		display: flex;
		align-items: center;

		height: var(--size-sm);
		padding: unset;
		padding-inline: var(--spacing);

		&.active,
		&:hover {
			background-color: unset;
			opacity: 1;
			color: var(--indigo-500);
		}
	}

	.area-navigation-item.selected > .navigation-link {
		background-image: var(--gradient-78);
		box-shadow: 0px 7px 12px 0px rgba(95, 118, 232, 0.21);
		color: white;
		opacity: 1;

		&:first-child:not(:is(button, area-btn)) {
			background-image: var(--gradient-67);
		}
	}

	.area-btn {
		--btn-width: calc(var(--spacing) * 3);

		display: block;
		width: calc(100% - var(--btn-width));

		svg:last-child {
			transition: 0.35s ease;
			margin-inline-start: auto;
			float: inline-end;
		}
	}

	.rotate svg:last-child {
		rotate: 180deg;
	}

	@container page (inline-size > 700px) {
		padding-block: var(--spacing-md);

		.navigation-link {
			margin-inline-end: var(--spacing);
		}

		.area-navigation-item.selected > .navigation-link {
			border-top-right-radius: 60px;
			border-bottom-right-radius: 60px;
		}

		.area-menu-line {
			border-left: 1px solid var(--blue-gray-200);
			position: relative;
			margin-inline-start: var(--spacing-md);
			display: none;
		}

		.area-navigation-item.active .navigation-link::before {
			content: '';
			display: block;
			background: var(--blue-gray-200);
			height: 1px;
			width: 12px;
			position: absolute;
			left: 0;
			top: calc(var(--size-sm) / 2);
		}
	}

	.area-menu {
		display: none;
		transition: 0.35s ease;
		transform: scaleY(0);
		transform-origin: top;

		&.is-active {
			display: block;
			transform: scaleY(1);
		}
	}

	@container page (inline-size < 700px) {
		.navigation-divider {
			display: none;
		}

		.area-navigation {
			display: grid;
			grid-auto-columns: var(--size-sm);
			grid-auto-flow: column;
			align-items: center;
			overflow-x: scroll;
		}

		.area-navigation-item {
			display: inline-flex;
		}

		.area-btn {
			display: flex;
			justify-content: center;
			width: var(--size-sm);
			height: var(--size-sm);
			padding: 0;
		}

		span:not(:is(.navigation-text.area-menu-text)),
		.area-btn svg:last-child {
			display: none;
		}

		.navigation-text {
			padding-inline-start: unset;
		}

		.area-menu.is-active {
			background-color: var(--indigo-50);
			border-top: 1px solid var(--blue-gray-200);
			transform-origin: bottom;
			position: fixed;
			bottom: var(--size-sm);
			left: 0;
			display: flex;
			overflow-x: auto;
			height: var(--size-sm);
			width: 100%;
			padding: 0;
			margin: 0;

			.navigation-link {
				width: auto;
				justify-content: center;
			}

			@container page (inline-size > 400px) {
				justify-content: center;
			}
		}
	}
}

/* Main container */
.area-container {
	color: var(--indigo-1000);
	grid-area: main;
	/* padding-inline: var(--spacing-md); */

	.content-main {
		flex-direction: column;
		margin-inline: var(--spacing-md);
		/* max-width: 1270px;
		margin-inline: auto; */

		h2 {
			font-size: 1.75rem;
			margin-block-end: var(--spacing-2);
		}
	}

	.crumbs-container {
		float: inline-end;
		padding-inline: unset;
	}

	.area-heading {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--spacing);
		margin-block-end: var(--spacing);
	}

	.area-desc {
		color: var(--gray-500);
	}

	.block {
		padding: var(--spacing);
	}

	@container page (inline-size < 700px) {
		margin-inline: unset;

		.area-heading {
			grid-template-columns: 1fr;
			margin-inline: var(--spacing);
		}

		.area-title {
			order: 1;
		}

		.area-crumbs {
			order: 2;
		}

		.crumbs-container {
			float: unset;
		}
	}
}

/* .cards .card-test {
	--card-new-bg: var(--indigo-300);
	--icon-bg: var(--green-700);
} */

/* Footer */
.footer-container {
	grid-area: footer;
}
