@charset "UTF-8";

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	overflow: auto;
	touch-action: manipulation;
}

body {
	font-family: var(--font-family);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	background-color: var(--background-color);
	color: var(--color-text);
	min-block-size: 100dvh;

	container: page / inline-size;
}

iframe {
	border: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

summary {
	display: list-item;
}

::selection {
	background: var(--indigo-100);
	text-shadow: none;
	color: #ffffff;
}

svg {
	fill: currentcolor;
}

[aria-busy=true] {
	cursor: progress;
}

[aria-controls] {
	cursor: pointer;
}

[aria-disabled] {
	cursor: default;
}

[hidden][aria-hidden=false] {
	position: absolute;
	display: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--font-weight);
	text-wrap: balance;
	margin: 0;
}

p {
	margin: 0;
}

p,
li,
figcaption {
	text-wrap: pretty;
}

u,
ins,
abbr[title] {
	text-decoration: none;
}

abbr[title] {
	border-bottom: 1px dotted var(--color-alt-1);
}

ins {
	border-bottom: 1px solid;
}

abbr[title],
dfn[title] {
	cursor: help;
}

address {
	font-style: normal;
	line-height: inherit;
	margin: 0 0 1.5rem;
}

ol,
ul,
dd {
	margin: 0 0 1.5rem;
	margin-left: 2rem;
}

dl {
	margin: 0 0 1.5rem;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

nav ol,
nav ul {
	list-style: none;
}

nav > ol,
nav > ul {
	margin: 0 0 1.5rem;
	padding: 0;
}

dt {
	font-weight: var(--font-weight-6);
}

blockquote {
	text-indent: -0.41em;
	margin: 0 0 1.5rem;
}

q:first-child {
	text-indent: -0.22em;
	display: inline-block;
}

code,
kbd,
pre,
samp {
	font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

pre {
	white-space: pre-wrap;
	overflow: auto;
	margin: 0 0 1.5rem;
}

figure {
	margin: 0 0 1.5rem;
}

img {
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: middle;
	max-inline-size: 100%;
	shape-margin: var(--spacing);
	block-size: auto;
}

img[width], img[height] {
	max-inline-size: none;
}

hr {
	border: 0;
	border-top: 1px solid var(--color-alt-1);
	display: block;
	block-size: 1px;
	margin: 0 0 1.5rem;
	padding: 0;
}

table {
	background-color: transparent;
	inline-size: 100%;
	margin: 0 0 1.5rem;
	border-spacing: 0;
	border-collapse: collapse;
}

caption {
	text-align: left;
	color: var(--color-alt-1);
	margin: 0;
	padding-block: 0.5rem;
	caption-side: bottom;
}

th {
	text-align: left;
}

th,
td {
	margin: 0;
	padding: var(--spacing);
}

form {
	margin: 0 0 1.5rem;
	padding: 0;
}

label {
	display: inline-block;
	margin: 0 0.5rem var(--spacing);
}

fieldset {
	border: 0;
	min-inline-size: 0;
	margin: 0 0 1.5rem;
	padding: 0;
}

legend {
	font-size: 1.375rem;
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	letter-spacing: normal;
	display: block;
	inline-size: 100%;
	margin: 0 0 1.5rem;
}

input,
button,
select,
optgroup,
textarea {
	font-size: 100%;
	line-height: inherit;
	vertical-align: middle;
	background-color: transparent;
	background-image: none;
	background-clip: padding-box;
	border-radius: 0;
	color: inherit;
}

button {
	all: unset;
	cursor: pointer;
}

button:focus-visible {
	outline: 1px dotted;
	outline: 4px auto -webkit-focus-ring-color;
}

input[type=radio],
input[type=checkbox] {
	margin-right: 0.5rem;
}

input[type=radio]:disabled,
input[type=checkbox]:disabled {
	cursor: not-allowed;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
	-webkit-appearance: listbox;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto;
}

[type=date]::-webkit-inner-spin-button {
	display: none;
	-webkit-appearance: none;
}

input[type=search] {
	-webkit-appearance: none;
}

output {
	display: inline-block;
}

button,
[type=button],
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=reset],
[type=search],
[type=submit],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
[type=color],
select,
textarea {
	min-block-size: 24px;
}

input[type=color] {
	vertical-align: middle;
	padding: 0.125rem;
}

select[multiple=multiple],
textarea {
	vertical-align: top;
}

select[multiple=multiple] {
	block-size: auto;
}

textarea {
	resize: vertical;
}

select::-ms-expand {
	background-color: transparent;
	border: 0;
	display: none;
}

select::-ms-value {
	color: currentcolor;
}

a {
	text-decoration: none;
	color: var(--link);
	transition: 0.3s;
}

.u::after {
	left: 0;
}

.u:hover::after {
	inline-size: 100%;
}

.u::after {
	content: "";
	transition: 0.3s;
	backface-visibility: hidden;
	position: absolute;
	block-size: 2px;
	inline-size: 0;
	background: currentColor;
	bottom: -.25em;
}

a:focus, a:hover {
	text-decoration: none;
	color: var(--link-hover);
}

a:focus {
	outline: thin dotted;
	outline: 4px auto -webkit-focus-ring-color;
	outline-offset: -1px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-size: 2rem;
	font-size: 60%;
	line-height: 1.25;
	letter-spacing: normal;
	display: block;
}

h1 {
	font-size: 2.25rem;
	line-height: 1.2222222222;
	letter-spacing: normal;
}

h2 {
	font-size: 2rem;
	line-height: 1.25;
	letter-spacing: normal;
}

h3 {
	font-size: 1.75rem;
	line-height: 1.2857142857;
	letter-spacing: normal;
}

h4 {
	font-size: 1.5rem;
	line-height: 1.3333333333;
	letter-spacing: normal;
}

h5 {
	font-size: 1.375rem;
	line-height: 1.2727272727;
	letter-spacing: normal;
}

h6 {
	font-size: 1.25rem;
	line-height: 1.2;
	letter-spacing: 0.0075em;
}

p {
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	letter-spacing: 0.03125em;
}

blockquote {
	font-size: var(--font-size);
	font-weight: var(--font-weight-6);
	font-style: italic;
	line-height: 1.25;
	letter-spacing: 0.00625em;
	position: relative;
	margin-inline-start: 3rem;
}

blockquote p {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

mark {
	background-color: var(--yellow-200);
}

cite {
	font-size: 0.75rem;
	font-weight: var(--font-weight);
	line-height: 1.3333333333;
	letter-spacing: 0.0333333333em;
}

address {
	font-size: 0.875rem;
	font-weight: var(--font-weight);
	line-height: 1.4285714286;
	letter-spacing: 0.0178571429em;
}

ul,
ol {
	font-size: 0.875rem;
	font-weight: var(--font-weight);
	line-height: 1.4285714286;
	letter-spacing: 0.0178571429em;
}

fieldset {
	position: relative;
}

legend {
	line-height: var(--line-height);
	margin: 0 0 1.5rem;
}

[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
[type=color],
select,
textarea {
	background-color: var(--color-light);
	border: none;
	color: var(--color-alt-1);
	display: inline-block;
	block-size: var(--size-sm);
}

[type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
[type=color]:focus,
select:focus,
textarea:focus {
	outline: none;
	box-shadow: none;
}

[type=date]:disabled, [type=date][readonly],
[type=datetime]:disabled,
[type=datetime][readonly],
[type=datetime-local]:disabled,
[type=datetime-local][readonly],
[type=email]:disabled,
[type=email][readonly],
[type=month]:disabled,
[type=month][readonly],
[type=number]:disabled,
[type=number][readonly],
[type=password]:disabled,
[type=password][readonly],
[type=search]:disabled,
[type=search][readonly],
[type=tel]:disabled,
[type=tel][readonly],
[type=text]:disabled,
[type=text][readonly],
[type=time]:disabled,
[type=time][readonly],
[type=url]:disabled,
[type=url][readonly],
[type=week]:disabled,
[type=week][readonly],
[type=color]:disabled,
[type=color][readonly],
select:disabled,
select[readonly],
textarea:disabled,
textarea[readonly] {
	background-color: var(--color-alt-1);
	color: #ffffff;
	opacity: 1;
}

[type=date]:disabled::-ms-input-placeholder,
[type=date][readonly]::-ms-input-placeholder,
[type=datetime]:disabled::-ms-input-placeholder,
[type=datetime][readonly]::-ms-input-placeholder,
[type=datetime-local]:disabled::-ms-input-placeholder,
[type=datetime-local][readonly]::-ms-input-placeholder,
[type=email]:disabled::-ms-input-placeholder,
[type=email][readonly]::-ms-input-placeholder,
[type=month]:disabled::-ms-input-placeholder,
[type=month][readonly]::-ms-input-placeholder,
[type=number]:disabled::-ms-input-placeholder,
[type=number][readonly]::-ms-input-placeholder,
[type=password]:disabled::-ms-input-placeholder,
[type=password][readonly]::-ms-input-placeholder,
[type=search]:disabled::-ms-input-placeholder,
[type=search][readonly]::-ms-input-placeholder,
[type=tel]:disabled::-ms-input-placeholder,
[type=tel][readonly]::-ms-input-placeholder,
[type=text]:disabled::-ms-input-placeholder,
[type=text][readonly]::-ms-input-placeholder,
[type=time]:disabled::-ms-input-placeholder,
[type=time][readonly]::-ms-input-placeholder,
[type=url]:disabled::-ms-input-placeholder,
[type=url][readonly]::-ms-input-placeholder,
[type=week]:disabled::-ms-input-placeholder,
[type=week][readonly]::-ms-input-placeholder,
[type=color]:disabled::-ms-input-placeholder,
[type=color][readonly]::-ms-input-placeholder,
select:disabled::-ms-input-placeholder,
select[readonly]::-ms-input-placeholder,
textarea:disabled::-ms-input-placeholder,
textarea[readonly]::-ms-input-placeholder {
	color: #ffffff;
}

[type=date]:disabled::placeholder,
[type=date][readonly]::placeholder,
[type=datetime]:disabled::placeholder,
[type=datetime][readonly]::placeholder,
[type=datetime-local]:disabled::placeholder,
[type=datetime-local][readonly]::placeholder,
[type=email]:disabled::placeholder,
[type=email][readonly]::placeholder,
[type=month]:disabled::placeholder,
[type=month][readonly]::placeholder,
[type=number]:disabled::placeholder,
[type=number][readonly]::placeholder,
[type=password]:disabled::placeholder,
[type=password][readonly]::placeholder,
[type=search]:disabled::placeholder,
[type=search][readonly]::placeholder,
[type=tel]:disabled::placeholder,
[type=tel][readonly]::placeholder,
[type=text]:disabled::placeholder,
[type=text][readonly]::placeholder,
[type=time]:disabled::placeholder,
[type=time][readonly]::placeholder,
[type=url]:disabled::placeholder,
[type=url][readonly]::placeholder,
[type=week]:disabled::placeholder,
[type=week][readonly]::placeholder,
[type=color]:disabled::placeholder,
[type=color][readonly]::placeholder,
select:disabled::placeholder,
select[readonly]::placeholder,
textarea:disabled::placeholder,
textarea[readonly]::placeholder {
	color: #ffffff;
}

[type=date]:disabled,
[type=datetime]:disabled,
[type=datetime-local]:disabled,
[type=email]:disabled,
[type=month]:disabled,
[type=number]:disabled,
[type=password]:disabled,
[type=search]:disabled,
[type=tel]:disabled,
[type=text]:disabled,
[type=time]:disabled,
[type=url]:disabled,
[type=week]:disabled,
[type=color]:disabled,
select:disabled,
textarea:disabled {
	cursor: not-allowed;
}

textarea {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 99%, var(--color-alt-2) 1%);
	background-repeat: no-repeat;
	background-size: 0 100%;
	border-bottom: solid 1px var(--color-light);
	block-size: auto;
	padding-top: 1.5rem;
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

textarea:focus {
	background-size: 100% 100%;
	border-color: var(--color-alt-2);
}

select {
	background-color: var(--color-light);
	display: inline-block;
	min-inline-size: 80px;
	max-inline-size: 100%;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

select:focus::-ms-value {
	background-color: var(--color-light);
	color: var(--color-alt-2);
}

select:focus:-moz-focusring {
	text-shadow: 0 0 0 #000000;
	color: transparent;
}

select[multiple=multiple] {
	background-image: none;
}

input[type=color] {
	inline-size: var(--size-sm);
	block-size: var(--size-sm);
}

input[type=file],
input[type=range] {
	display: inline-block;
}

input[type=file]:focus:invalid:focus,
input[type=radio]:focus:invalid:focus,
input[type=checkbox]:focus:invalid:focus {
	outline-color: var(--color-danger);
}

[type=checkbox]:not(:checked), [type=checkbox]:checked {
	opacity: 0;
	position: absolute;
}

[type=checkbox] + label {
	position: relative;
	display: inline-block;
	margin: 0 0.5rem;
	padding-inline-start: 2rem;
	cursor: pointer;
	-webkit-user-select: none;
		-ms-user-select: none;
			user-select: none;
	transition: 0.28s ease;
}

[type=checkbox] + label:before {
	border: 2px solid var(--color-alt-1);
	border-radius: 2px;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	inline-size: 20px;
	block-size: 20px;
	margin-top: 0.125rem;
	content: "";
	transition: 0.2s;
}

[type=checkbox]:indeterminate + label:before {
	border-top: none;
	border-right: 2px solid var(--color-danger);
	border-bottom: none;
	border-left: none;
	top: -11px;
	left: -12px;
	block-size: 18px;
	transform: rotate(90deg);
	transform-origin: 100% 100%;
	-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
}

[type=checkbox]:indeterminate + label:before:disabled {
	background-color: transparent;
	border-right: 2px solid var(--color-alt-1);
}

[type=checkbox]:checked + label:before {
	border-top: 2px solid transparent;
	border-right: 2px solid var(--color-alt-2);
	border-bottom: 2px solid var(--color-alt-2);
	border-left: 2px solid transparent;
	top: -4px;
	left: -5px;
	inline-size: 12px;
	block-size: 22px;
	transform: rotate(40deg);
	transform-origin: 100% 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

[type=checkbox]:hover:not(:checked) + label:before {
	border-color: var(--color-alt-1);
}

[type=checkbox]:disabled:checked + label:before {
	border-right: 2px solid var(--color-alt-1);
	border-bottom: 2px solid var(--color-alt-1);
}

[type=checkbox]:disabled:not(:checked) + label:before {
	background-color: var(--color-alt-1);
	border: none;
}

[type=radio]:not(:checked), [type=radio]:checked {
	opacity: 0;
	position: absolute;
}

[type=radio] + label {
	position: relative;
	display: inline-block;
	margin: 0 0.5rem;
	padding-inline-start: 2rem;
	cursor: pointer;
	-webkit-user-select: none;
		-ms-user-select: none;
			user-select: none;
	transition: 0.28s ease;
}

[type=radio] + label:before, [type=radio] + label:after {
	border-radius: 50%;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	inline-size: 16px;
	block-size: 16px;
	margin: 0.25rem 0.25rem 0.25rem 0;
	content: "";
	transition: 0.28s ease;
}

[type=radio]:not(:checked) + label:before, [type=radio]:not(:checked) + label:after {
	border: 2px solid var(--color-alt-1);
}

[type=radio]:not(:checked) + label:after {
	opacity: 0;
	z-index: -1;
	transform: scale(2);
}

[type=radio]:checked + label:before {
	border: 2px solid var(--color-alt-2);
}

[type=radio]:checked + label:after {
	background-color: var(--color-alt-2);
	z-index: 0;
	transform: scale(0.5) opacity(1);
}

[type=radio]:hover + label:before {
	border-color: var(--color-alt-1);
}

[type=radio]:disabled + label {
	color: var(--color-alt-1);
}

[type=radio]:disabled:checked + label:before, [type=radio]:disabled:not(:checked) + label:before {
	border: 2px solid var(--color-alt-1);
}

[type=radio]:disabled :checked + label:after {
	background-color: var(--color-alt-1);
	border: none;
}

::-webkit-input-placeholder {
	color: var(--color-alt-1);
}

:-moz-placeholder {
	color: var(--color-alt-1);
}

::-moz-placeholder {
	color: var(--color-alt-1);
}

:-ms-input-placeholder {
	color: var(--color-alt-1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
	-webkit-transition-delay: 9999s;
}

table {
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	white-space: nowrap;
	letter-spacing: 0.03125em;
	background-color: #ffffff;
	border: 1px solid var(--color-alt-1);
	display: block;
	overflow-x: auto;
	inline-size: 100%;
}

table thead {
	padding-block-end: 0.25rem;
}

table tbody tr {
	position: relative;
	block-size: 48px;
	transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

table tbody tr:hover {
	background-color: var(--color-light);
}

table td,
table th {
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid var(--color-alt-1);
	border-bottom: 1px solid var(--color-alt-1);
	box-sizing: border-box;
	block-size: 48px;
	padding: 0 var(--spacing);
}

table td:first-of-type,
table th:first-of-type {
	padding-inline-start: var(--spacing);
}

table td:last-of-type,
table th:last-of-type {
	padding-inline-start: var(--spacing);
}

table th {
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	text-align: left;
	text-overflow: ellipsis;
	vertical-align: bottom;
	letter-spacing: 0.03125em;
	background-color: var(--color-light);
	border-left: 1px solid var(--color-alt-1);
	padding-block-end: 0.5rem;
}

@media (min-width: 770px) {
	table {
		display: table;
		width: auto;
	}
}

code,
kbd,
pre,
samp {
	font-family: Monaco, Andale Mono, Courier New, Courier, Mono;
}

code,
kbd {
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	letter-spacing: 0.03125em;
	background-color: var(--color-light);
	border-radius: 2px;
	color: var(--color-success);
	padding: 0.125rem 0.25rem;
}

kbd {
	background-color: var(--color-dark);
	box-shadow: inset 0 -1px 0 var(--color-dark);
	color: var(--color-light);
}

kbd kbd {
	font-size: 100%;
	font-weight: var(--font-weight-6);
	box-shadow: none;
	padding: 0;
}

pre {
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	letter-spacing: 0.03125em;
	word-wrap: break-word;
	word-break: break-all;
	background-color: var(--color-dark);
	border-width: 0;
	border-style: solid;
	border-color: var(--color-dark);
	border-radius: 2px;
	color: var(--color-alt-1);
	display: block;
	margin-block-start: 0;
	margin-block-end: var(--spacing);
	padding: var(--spacing);
}

pre code {
	font-size: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
	color: inherit;
	padding: 0;
}

.text-strong {
	font-weight: var(--font-weight-6);
}

.text-italic {
	font-weight: 200;
	font-style: italic;
}

.text-underline {
	text-decoration: underline;
}

.smilies {
	vertical-align: text-bottom;
}

.emoji {
	inline-size: 1em;
	min-inline-size: 18px;
	block-size: 1em;
	min-block-size: 18px;
}

/* Tag */
.tag {
	--tag-bg: var(--background-color-darker);
	--tag-color: var(--color-light);

	font-size: 0.75rem;
	font-weight: var(--font-weight);
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	letter-spacing: 0.0333333333em;
	background-color: var(--tag-bg);
	border-radius: 2px;
	color: var(--tag-color);
	display: inline-flex;
	margin: 0.25rem 0.5rem;
	padding: 0.25rem 0.5rem;

	&:empty {
		display: none;
	}
}

/* Button */
.btn {
	font-size: var(--font-size);
	font-weight: var(--font-weight-6);
	line-height: var(--line-height);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	letter-spacing: 0.00625em;
	background-color: var(--color-light);
	border: none;
	border-radius: 2px;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-shadow: var(--box-shadow-2);
	color: var(--color-alt-1);
	position: relative;
	display: inline-flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	min-inline-size: 64px;
	inline-size: var(--size-sm);
	margin: 0;
	padding: var(--spacing);
	-webkit-user-select: none;
		-ms-user-select: none;
			user-select: none;
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	will-change: box-shadow;
	will-change: transform, opacity;

	.btn-icon {
		margin-inline-end: 0.5rem;
	}

	.btn-icon + .btn,
	.btn-text + .btn-icon {
		margin-inline-end: 0;
		margin-inline-start: 0.5rem;
	}

	&:active {
		outline: none;
	}

	&:hover {
		text-decoration: none;
		background-color: var(--color-alt-1);
		color: var(--color-alt-2);
		cursor: pointer;
	}

	&:focus {
		outline: none;
		box-shadow:
			0px 2px 4px -1px rgba(0, 0, 0, 0.2),
			0px 4px 5px 0px rgba(0, 0, 0, 0.14),
			0px 1px 10px 0px rgba(0, 0, 0, 0.12);
		transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
		will-change: box-shadow;
	}

	&:disabled {
		background-color: transparent;
		box-shadow:
			0px 0px 0px 0px rgba(0, 0, 0, 0.2),
			0px 0px 0px 0px rgba(0, 0, 0, 0.14),
			0px 0px 0px 0px rgba(0, 0, 0, 0.12);
		box-shadow: none;
		cursor: default;
		transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
		pointer-events: none;
		will-change: box-shadow;
	}

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

/* Icon */
.o-icon,
.icon {
	vertical-align: middle;
	inline-size: var(--icon-md);
	block-size: var(--icon-md);
	overflow: clip;

	&.icon-lg {
		inline-size: var(--icon-xxl);
		block-size: var(--icon-xxl);
	}
}

/* Bar */
.bar {
	background-color: var(--color-light);
	display: grid;
	grid-template-columns: auto auto;

	.bar-left,
	.bar-right {
		position: relative;
		display: flex;
	}

	.bar-right {
		flex-direction: row;
		flex-wrap: wrap;
		align-self: flex-end;
		margin-left: auto;
	}

	.bar-item {
		position: relative;
	}

	.bar-info,
	.bar-title,
	.bar-logo {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		block-size: var(--size-sm);
		padding-inline: var(--spacing);
	}

	.bar-info {
		max-width: max-content;
		overflow-x: hidden;
	}

	.bar-title {
		font-size: 1.25rem;
		font-weight: var(--font-weight);
		line-height: 1;
		letter-spacing: 0.0075em;
		margin-block-end: 0;
	}

	.bar-profile {
		max-inline-size: 296px;
	}

	.bar-user {
		font-size: var(--font-size);
		font-weight: var(--font-weight);
		line-height: 1.35;
		letter-spacing: 0.03125em;
		padding: 0 0.5rem;

		.bar-user-title {
			font-size: 0.75rem;
			font-weight: var(--font-weight);
			line-height: 1.3333333333;
			letter-spacing: 0.0333333333em;
			color: var(--color-dark-alt-1);
			opacity: 0.54;
			display: block;
		}
	}

	.bar-logo {
		position: relative;
		overflow: hidden;

		.bar-logo-icon {
			inline-size: 64px;
			block-size: auto;
			max-block-size: var(--icon-md);
		}
	}
}

/* Action */
.action {
	--action-bg-hover: transparent;
	--action-color: var(--color-alt-1);

	color: var(--action-color);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	block-size: var(--size-sm);
	padding-inline: var(--spacing);

	&:hover,
	&:focus {
		background-color: var(--action-bg-hover);
		outline: 0;
		color: var(--link-hover);
		transition: 0.0125s;
	}

	.action-text {
		display: none;
	}

	.action-icon + .action-text,
	.action-text + .action-icon {
		padding-inline-start: 0.5rem;
	}

	@media (min-width: 540px) {
		.action-text {
			display: inline-flex;
		}
	}

	/* TODO: Remove? */
	.action-badge {
		background-color: var(--color-danger);
		border-radius: 50px;
		color: var(--color-danger);
		overflow: hidden;
		align-self: center;
		inline-size: 10px;
		block-size: 12px;
		margin-inline-start: 0.25rem;
	}

	@media (min-width: 540px) {
		.action-badge {
			color: var(--color-light);
			display: inline-flex;
		}
	}
}

/* Page */
/* .page {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100svh;
} */

main {
	margin-block: var(--spacing-md);
}

/* Container */
.footer,
.container {
	max-inline-size: 1300px;
	position: relative;
	margin-inline: auto;
}

/* Main container */
.content-main {
	display: flex;
	gap: var(--spacing-4);

	.section-main {
		flex: 3;
	}

	.section-side {
		flex: 1;
	}

	.section-main,
	.section-side {
		div:last-of-type, article:last-of-type {
			margin-block-end: 0;
		}
	}
}

@media (max-width: 750px) {
	.content-main {
		flex-direction: column;
		min-inline-size: min-content;
	}
}

/* Avatar */
.avatar-wrap {
	--avatar-border: 2px solid white;
	--avatar-sm: 40px;
	--avatar-sl: 75px;
	--avatar-md: 100px;
	--avatar-ml: 150px;
	--avatar-lg: 200px;

	position: relative;
	inline-size: 60%;
	margin-inline: auto;

	&.avatar {
		display: inline-flex;
		padding: 0;
		margin-inline: unset;
	}

	.avatar {
		vertical-align: middle;
		border: var(--avatar-border);
		border-radius: 50%;
		align-self: center;
	}

	&.avatar-sm,
	.avatar.avatar-sm {
		inline-size: var(--avatar-sm);
		block-size: var(--avatar-sm);
	}

	&.avatar-sl,
	.avatar.avatar-sl {
		inline-size: var(--avatar-sl);
		block-size: var(--avatar-sl);
	}

	&.avatar-md,
	.avatar.avatar-md {
		inline-size: var(--avatar-md);
		block-size: var(--avatar-md);
	}

	&.avatar-ml,
	.avatar.avatar-ml {
		inline-size: var(--avatar-ml);
		block-size: var(--avatar-ml);
	}

	&.avatar-lg,
	.avatar.avatar-lg {
		inline-size: var(--avatar-lg);
		block-size: var(--avatar-lg);
	}

	.avatar-online {
		background-color: var(--color-success);
		border: var(--avatar-border);
		border-radius: 50%;
		position: absolute;
		z-index: 101;
		bottom: 15%;
		right: 0;
		padding: 8%;
	}
}

/* Cards */
.cards {
	--cards-column-size: var(--column-size, 300px);

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--cards-column-size), 1fr));
	gap: var(--spacing);
	margin-block-end: var(--spacing-md);

	.card {
		--card-bg: var(--card-new-bg, var(--block-background-color));
		--card-icon-bg: var(--icon-bg, var(--color-main));
		--card-icon-color: var(--icon-color, white);

		background-color: var(--card-bg);
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
		transition: var(--transition);
		will-change: box-shadow;
		display: inline-flex;
		align-items: center;
		padding: var(--spacing-md);
	}

	.card-icon {
		background-color: var(--card-icon-bg);
		border-radius: var(--border-radius);
		color: var(--card-icon-color);
		padding: var(--spacing);
	}

	.card-icon-item {
		padding: var(--spacing-1);
		cursor: pointer;

		&:hover,
		&:focus {
			background-color: var(--background-color);
		}
	}

	.card-list {
		display: flex;
		flex-direction: column;
		/* align-items: end; */
		margin-inline-start: auto;
	}

	.card-item {
		color: var(--color-alt-1);
	}
}

/* Block */
.block {
	background-color: var(--block-background-color);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	transition: var(--transition);
	will-change: box-shadow;
	margin-block-end: var(--spacing-md);

	.block-title {
		font-size: clamp(1rem, 2.5vw, 1.2rem);;
		font-weight: var(--font-weight);
		letter-spacing: normal;
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-block-end: 0;

		.post-title-inherit {
			font: inherit;
	   }
	}

	.block-bar {
		--bar-bg: var(--block-background-color);
		--bar-bg-hover: var(--color-light);

		background-color: var(--bar-bg);
		border-top-left-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);
		border-bottom: var(--border);
		min-inline-size: fit-content;
	}

	.block-stats {
		font-weight: var(--font-weight);
		color: var(--color-dark);
		list-style: none;
		margin: 0;
		padding: var(--spacing-md);

		.mini-profile {
			margin-block-end: var(--spacing-md);
		}

		.block-stats-text,
		.block-stats-link {
			padding-inline-start: 0.2rem;
			vertical-align: middle;
		}
	}
}

.block-info {
	margin-block-end: var(--spacing);
	min-width: fit-content;

	&.block-user {
		display: flex;
		align-items: center;
	}

	.user-status {
		padding-inline-start: var(--spacing);

		.user-status-title {
			display: block;
		}
	}
}

.no-scroll {
	overflow-y: clip;
}

.overlay {
	background-color: transparent;
	opacity: 1;
	z-index: 1;
	pointer-events: auto;
	position: fixed;
	inset: 0;
}

.stabilize {
	border-color: var(--color-light-alt-1);
	margin: var(--spacing-4);
}

dl {
	display: grid;
	grid-gap: 4px 16px;
	grid-template-columns: max-content;
}

dt {
	font-weight: normal;
}

dd {
	margin: 0;
	grid-column-start: 2;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	position: fixed;
	z-index: 601;
	top: 150px;
	right: 0;
	left: 0;
	display: none;
	inline-size: 620px;
	margin-inline: auto;
	padding-block-start: var(--spacing-4);
	padding-inline: var(--spacing-4);

	.alert_close {
		float: right;
	}

	p {
		margin: 8px 0;
		padding-block-end: 8px;
	}

	label {
		display: block;
		margin: 8px 0;
		padding-block-end: 8px;
	}

	div.alert_text > p,
	div.alert_text > label,
	div.alert_text > select,
	div.alert_text > textarea,
	div.alert_text > input {
		font-size: 0.875rem;
	}
}

.darkenwrapper {
	position: relative;
	z-index: 401;
	display: none;
}

.darken {
	opacity: 0.5;
	position: fixed;
	z-index: 501;
	top: 0;
	left: 0;
	inline-size: 100%;
	block-size: 100%;
}

.loading_indicator {
	position: fixed;
	z-index: 701;
	top: 50%;
	left: 50%;
	display: none;
}

.loader {
	inline-size: 48px;
	block-size: 48px;
	padding: 12px;
}

.spinner {
	animation: rotator 1s linear infinite;
}

/* stylelint-disable no-unknown-animations */
.spinner-path {
	transform-origin: center;
	animation: dash 1s ease-in-out infinite, colors 4s ease-in-out infinite;
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
}
/* stylelint-enable no-unknown-animations */

/* stylelint-disable at-rule-no-vendor-prefix */
@-webkit-keyframes rotator {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(270deg);
	}
}

@keyframes rotator {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(270deg);
	}
}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}

	50% {
		transform: rotate(135deg);
		stroke-dashoffset: 46.75;
	}

	100% {
		transform: rotate(450deg);
		stroke-dashoffset: 187;
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}

	50% {
		transform: rotate(135deg);
		stroke-dashoffset: 46.75;
	}

	100% {
		transform: rotate(450deg);
		stroke-dashoffset: 187;
	}
}
/* stylelint-enable at-rule-no-vendor-prefix */
