/* Navigation & search */
.navbar,
.search {
	--topbar-bg: var(--indigo-700);
	--topbar-bg-hover: var(--indigo-800);
	--topbar-color: white;
}

.navbar {
	background-color: var(--topbar-bg);
	align-items: center;

	.action {
		color: var(--topbar-color);

		&:hover,
		&:focus {
			background-color: var(--topbar-bg-hover);
		}

		&.brand-action {
			padding-inline: 0;
		}
	}

	.brand {
		inline-size: 100px;
	}
}

/* Search bar */
.search {
	background-color: var(--topbar-bg);
	opacity: 0;
	position: absolute;
	z-index: 999;
	inline-size: 100%;
	transform: scaleX(0);
	transform-origin: right;
	animation: shrink 200ms cubic-bezier(0.4, 0, 0.2, 1) forwards;

	&.is-active {
		animation: grow 400ms cubic-bezier(0.4, 0, 1, 1) forwards;
	}

	.search-form {
		display: grid;
		grid-column: span 2;
		grid-template-columns: var(--size-sm) auto var(--size-sm);
		inline-size: 100%;
		margin: 0;

		.action,
		.search-field {
			font-size: var(--font-size);
			font-weight: var(--font-weight-6);
			line-height: var(--line-height);
			letter-spacing: 0.00625em;
			color: var(--topbar-color);
		}

		.action {
			margin-inline: auto;
		}

		.search-field {
			background-color: transparent;
			background-image: none;
			border: 0;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding-inline: var(--spacing);
		}

		.action,
		.search-field {
			&:hover,
			&:focus {
				background-color: var(--topbar-bg-hover);
			}
		}
	}

	input::placeholder {
		color: var(--topbar-color);
	}
}

@keyframes grow {
	0% {
		opacity: 0;
		transform: scaleX(0.1);
	}
	50% {
		transform: scaleX(0.99);
	}
	100% {
		opacity: 1;
		transform: scaleX(1);
	}
}

@keyframes shrink {
	0% {
		opacity: 1;
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(0.01);
	}
	100% {
		opacity: 0;
		transform: scaleX(0);
	}
}

/* Content header */
.content-header {
	min-block-size: 200px;

	.content-header-cover-container {
		padding: var(--spacing-2);
		padding-block-end: 0;
	}

	.content-header-cover {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		block-size: 300px;
	}

	.content-header-info {
		display: flex;
		align-items: center;
		position: relative;
		flex-wrap: wrap;
		gap: var(--spacing-2);
		padding: var(--spacing-2) var(--spacing-lg);

		.header-avatar-wrap {
			flex-basis: 100px;
			margin-inline: 0;
			margin-inline-end: var(--spacing);
			align-self: flex-end;
			position: relative;
		}

		.content-header-avatar {
			position: absolute;
			bottom: 0;
		}
	}

	.header-avatar-wrap {
		&.header-avatar-size {
			inline-size: 0.5rem;
			block-size: 0.5rem;
		}
	}

	.content-header-meta {
		display: inline-flex;
		align-items: center;

		h1 {
			font-size: 1.5rem;
		}
	}
}

/* Content tabs */
.content-tabs {
	margin-block-end: var(--spacing-md);

	ul {
		display: inline-flex;
		align-items: center;
		margin-block-end: 0;
	}

	li a {
		font-weight: var(--font-weight-6);
		color: var(--color-alt-1);
		display: block;
		block-size: var(--size-sm);
		padding-block: 1.125rem;
		padding-inline: var(--spacing);

		&:hover,
		&:focus-visible {
			background-color: var(--background-color);
			color: var(--link-hover);
			opacity: 1;
		}
	}

	li:first-child {
		border-top-left-radius: var(--border-radius);
		border-bottom-left-radius: var(--border-radius);
	}

	li:last-child {
		border-top-right-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
	}

	li {
		overflow: hidden;
		position: relative;
		min-inline-size: 3rem;
	}

	.tab-active {
		/* background-color: var(--background-color); */
		color: var(--link-hover);
	}

	li::after {
		content: '';
		position: absolute;
		inset-inline: 0;
		inset-block-end: 0;
		block-size: 3px;
		background-color: var(--link-hover);

		translate: var(--tabs-translate, 0);
		scale: var(--tabs-scale, 0) 1;
		transition:
			scale 100ms var(--tabs-scale-delay, 0ms),
			translate 200ms;
	}

	li:hover ~ li {
		--tabs-translate: -100%;
		--tabs-scale-delay: 200ms;
	}

	&:hover li {
		--tabs-translate: 100%;
		--tabs-scale-delay: 200ms;
	}

	li:hover {
		--tabs-scale: 1;
		--tabs-translate: 0;
		--tabs-scale-delay: 0ms;
	}
}

/* Crumbs */
.crumbs-container {
	display: flex;
	margin-bottom: var(--spacing-md);

	@container page (inline-size < 1305px) {
		margin-inline: var(--spacing-2);
	}

	.crumbs {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;

		svg {
			inline-size: 20px;
			block-size: 20px;
		}

		&:first-of-type {
			color: var(--link);
		}

		.crumbs-item {
			display: flex;
			align-items: center;
			margin: 0;
			padding: 0;

			&:not(:first-of-type) {
				display: none;
			}

			.crumbs-link {
				white-space: nowrap;
				position: relative;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				max-block-size: var(--size-sm);
				padding-block: var(--spacing-2);
				padding-inline-end: 0;

			}

			.crumbs-link-disabled {
				pointer-events: none;
				/* Disables the button completely. Better than just cursor: default; */
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
				opacity: 0.7;
			}

			.crumbs-icon {
				margin-inline-end: 2px;
			}

			.crumbs-text {
				align-self: center;
				padding-inline-start: 2px;
				font-weight: var(--font-weight-6);
			}
		}

		@media (min-width: 540px) {
			.crumbs-item:nth-last-of-type(-n+1) {
				display: block;
			}
		}

		@media (min-width: 770px) {
			.crumbs-item:nth-last-of-type(-n+2) {
				display: block;
			}
		}

		@media (min-width: 960px) {
			.crumbs-item:nth-last-of-type(-n+3) {
				display: block;
			}
		}

		@media (min-width: 1140px) {
			.crumbs-item:nth-last-of-type(-n+4) {
				display: block;
			}
		}
	}
}

/* Tooltip */
.tooltip {
	--tooltip-bg: var(--background-color-darker);
	--tooltip-color: var(--color-light);

	font-size: 0.75rem;
	letter-spacing: letterspacing(0.4, 0.75);
	font-weight: var(--font-weight);
	line-height: 1.375;
	text-align: center;
	background-color: var(--tooltip-bg);
	border-radius: 2px;
	color: var(--tooltip-color);
	opacity: 0;
	position: absolute;
	z-index: 999;
	display: inline-block;
	inline-size: auto;
	max-inline-size: 192px;
	min-block-size: 20px;
	padding: 4px 8px;
	transition: none;
	transform: scale(0);
	transform-origin: center center;

	&.is-active {
		animation: pulse 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
	}
}

@keyframes pulse {
	0% {
	opacity: 0;
		transform: scale(0);
	}
	50% {
		transform: scale(0.99);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* Article */
.post {
	.post-announcement {
		padding: var(--spacing-4);
	}

	.post-body {
		min-block-size: 192px;
		margin-block-end: 0;
		padding: var(--spacing-4);

		.post-body-info-text {
			margin-inline: var(--spacing-1);
			opacity: 0.8;
		}
	}

	h5 {
		font-size: calc(var(--font-size) - 0.2rem);
		display: inline-flex;
		align-items: center;
		margin-block-start: var(--spacing-1);

		svg {
			inline-size: 16px;
			block-size: 16px;
		}
	}
}

.post-title-announcement {
	font-size: clamp(1.375rem, 2.5vw, 1.75rem);

	.post-title-inherit {
		font: inherit;
	}
}

.post-announcement {
	.content {
		margin-block-start: 0;
	}
}

@media (min-width: 960px) {
	.post-title {
		padding-inline-end: 8px;
	}
}

.post-meta {
	padding: 16px;
}

.post-action {
	cursor: pointer;
}

.post-action:hover,
.post-action:focus,
.post-action-bar {
	background-color: transparent;
}

.post-action-bar-right {
	position: relative;
}

.post-action:active:after,
.post-action:after {
	opacity: 0;
	transition: 0s;
	transform: scale(0, 0);
}

.content {
	font-size: var(--font-size);
	font-weight: 300;
	margin-block-start: 16px;
}

/* Post Profile */
.profile {
	box-shadow: var(--box-shadow);
	position: absolute;
	z-index: 999;
	top: 0;
	inline-size: 336px;
	margin: 0;
	padding-block-start: var(--spacing);
	transition: all 0.2s ease;
	transform: scale(0);
	transform-origin: left top;

	&.is-active {
		transform: scale(1);
	}
}

/* .profile-btn {
	anchor-name: --profile-btn;
}

.profile {
	position: absolute;
	inline-size: 336px;
	padding: unset;
	padding-block-start: var(--spacing);
	margin-block-end: unset;
	inset: auto;
	position-anchor: profile-btn;
	top: anchor(bottom);
	left: anchor(left);
	transition: all 0.2s ease allow-discrete;
	scale: 1;
	transform-origin: left top;
	opacity: 1;

	:popover-open {
		display: grid;
		opacity: 0;
		scale: 0;
	}
}

@starting-style {
	.profile {
		&:popover-open {
			opacity: 0;
			scale: 0;
		}
	}
} */

/* Containers */
.popover,
.drawer-container {
	--drawer-bg: var(--block-background-color);
	--drawer-bg-hover: var(--background-color);
	--drawer-border: 1px solid var(--border-color);

	background-color: var(--drawer-bg);
	border: 0;
	box-shadow: var(--box-shadow-2);
	display: flex;
	flex-direction: column;
	opacity: 1;
	z-index: 999;
	inline-size: 300px;
	transition: var(--transition);
	transition: all 0.2s ease;
	transform: scale(0);
	will-change: box-shadow;

	&.is-active {
		transform: scale(1);
	}
}

/* Drawer container */
.drawer-container {
	position: fixed;
	top: 0;
	block-size: 100%;

	&.baihu-drawer-left {
		border-top-right-radius: 5px;
		left: 0;
		transform-origin: left top;
	}

	&.baihu-drawer-right {
		border-top-left-radius: 5px;
		right: 0;
		transform-origin: right top;
	}

	.block-info {
		min-inline-size: fit-content;
		margin-block-end: 0;
		padding: var(--spacing-2);
	}
}

/* Navigation */
.navigation {
	--navigation-bg-hover: var(--background-color);
	--navigation-color: var(--color-light-alt-2);
	--navigation-border: var(--border);
	--navigation-link: var(--color-alt-1);

	text-wrap: nowrap;
	margin-block-end: 0;
	padding: var(--spacing-2);

	.navigation-divider {
		background-color: var(--navigation-color);
		block-size: 1px;
	}

	.navigation-category {
		font-size: var(--font-size);
		white-space: nowrap;
		position: relative;
		display: block;
		padding: var(--spacing);
	}

	.navigation-link {
		--navigation-spacing: 0.75rem;

		color: var(--navigation-link);
		white-space: nowrap;
		position: relative;
		display: block;
		overflow: hidden;
		padding: var(--navigation-spacing);
		transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
		transform: translate3d(0, 0, 0);

		&:hover {
			background-color: var(--navigation-bg-hover);
			color: var(--link-hover);
		}
	}

	.navigation-text {
		overflow: hidden;
		text-overflow: ellipsis;
		padding-inline-start: 0.5rem;
		vertical-align: middle;
	}

	.navigation-btn {
		--btn-width: calc(var(--navigation-spacing) * 2);

		inline-size: calc(100% - var(--btn-width));
	}

	.navigation-menu {
		background-color: var(--navigation-bg-hover);
		border-top: var(--navigation-border);
		border-bottom: var(--navigation-border);
		display: none;
		margin: 0;
		padding: 0;
		transition: 0.35s ease;
		transform: scaleY(0);
		transform-origin: top;

		.navigation-link:hover {
			background-color: var(--indigo-100);
		}

		&.is-active {
			display: block;
			transform: scaleY(1);
		}
	}
}

.popover {
	--notification-action: var(--indigo-800);

	border-radius: var(--border-radius);
	position: absolute;
	right: 0;
	margin-block-start: 0.0625rem;
	transform-origin: right top;
}

.baihu-container {
	inline-size: 240px;

	ul {
		list-style: none;
		margin-inline-start: 0;
	}

	svg {
		inline-size: 20px;
		block-size: 20px;
	}

	.navigation-category {
		padding: unset;
		padding-block: var(--spacing-1);
	}

	.navigation-link {
		padding: var(--spacing-1);
	}

	.navigation-divider {
		margin-block: var(--spacing-1);
	}

	.navigation-divider:last-of-type {
		display: none;
	}
}

/* Notifications cointainer */
.notification-container {
	.notification-action {
		color: var(--notification-action);

		&:hover,
		&:focus {
			background-color: transparent;
			color: var(--link-hover);
		}
	}

	.notification-header {
		background-color: var(--drawer-bg);
		border-bottom: var(--drawer-border);
		border-top-left-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);

		.notification-action {
			border-top-right-radius: var(--border-radius);
		}
	}

	.notification-footer {
		background-color: var(--block-background-color);
		border-top: var(--drawer-border);
		border-bottom-right-radius: var(--border-radius);
		border-bottom-left-radius: var(--border-radius);

		.notification-action {
			text-transform: uppercase;
			border-bottom-right-radius: var(--border-radius);
			border-bottom-left-radius: var(--border-radius);
			grid-column: span 2;
		}
	}

	.notification-list {
		font-size: var(--font-size);
		font-weight: var(--font-weight-6);
		line-height: var(--line-height);
		letter-spacing: 0.009375em;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		max-block-size: 420px;
		margin: 0;
		padding: 0;
		list-style: none;

		.notification-item,
		.notification-no-item {
			display: flex;
			position: relative;
			background-color: var(--drawer-bg);
			padding: var(--spacing);

			&:hover {
				background-color: var(--drawer-bg-hover);
				transition: 0.5s;
			}
		}

		.notification-item {
			border-top: 1px solid var(--notification-action);

			&:first-of-type {
				border: none;
			}

			.avatar {
				border: none;
			}

			.notification-media {
				display: inline-flex;
				align-self: center;
				margin-inline-end: var(--spacing);
			}

			.notification-text {
				font-weight: var(--font-weight);
			}

			.notification-text p:last-of-type {
				margin-block-start: var(--spacing-1);
			}

			.time-text {
				vertical-align: middle;
			}
		}

		.notification-title,
		.notification-reference,
		.notification-reference-forum,
		.notification-reference-reason,
		.notification-time {
			margin-block-end: 0;
		}
	}
}

@media (min-width: 770px) {
	.notification-container {
		inline-size: 420px;
	}
}

/* Progress bar */
.progress-bar {
	background-color: var(--background-color);
	border: 1px solid var(--color-light-alt-2);
	overflow: hidden;
	margin-inline: auto;

	.progress-meter {
		background-color: var(--indigo-100);

		.progress-center {
			min-inline-size: 230px;
			text-align: center;
		}
	}
}
