/* Profile page */
.profile-header {
	.profile-header-cover {
		background-image: url(./../../../../../test/styles/all/theme/icons/img/baihu-header.png);
		border-radius: var(--border-radius);
	}

	.header-avatar-wrap {
		.avatar-online {
			bottom: 170%;
		}
	}

	.profile-header-tools {
		position: relative;
		margin-inline-start: var(--spacing-2);
	}

	.profile-header-time,
	.profile-header-title {
		opacity: 0.5;
	}

	.profile-header-stats {
		display: inline-flex;
		gap: var(--spacing-2);

		h4 {
			font-size: var(--font-size);
		}

		div {
			border-inline-start: 1px solid var(--color-light-alt-1);
			padding: var(--spacing-1) var(--spacing-lg);
		}

		@container page (inline-size < 980px) {
			text-align: center;
			flex: 1 1 100%;
			border-block-start: 1px solid var(--color-light-alt-1);

			div {
				flex: 1 1 auto;
			}

			div:first-of-type {
				border-inline-start: unset;
			}
		}
	}
}

:where(.profile-cards > *)
{
	outline: var(--border);
}

.profile-cards {
	padding: var(--spacing-3);

	.card {
		display: unset;
		overflow: hidden;
	}
}

.profile-block {
	ol, ul {
		margin: 0;
	}

	.profile-heading {
		padding: var(--spacing-3);
	}

	.block-stats {
		color: var(--color-text);
		padding: unset;
	}

	.profile-title {
		opacity: 0.5;
	}

	.profile-meta {
		text-align: center;
		margin: 0;
		padding: var(--spacing-3);

		.profile-rank img {
			max-inline-size: 200px;
		}

		.profile-user:hover {
			text-decoration: underline;
			transition: 0.5s;
		}

		.profile-user-title {
			opacity: 0.38;
		}
	}

	.profile-stats {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--spacing-2);

		.profile-stats-item {
			text-align: center;
		}
	}
}

/* Profile left side */
.profile-details {
	font-size: var(--font-size);

	h4 {
		font-size: var(--font-size);
	}

	.profile-details-divider {
		background-color: var(--border-color);
		block-size: 1px;
	}

	.profile-details-item {
		display: flex;
		align-items: center;
		gap: var(--spacing-md);
		white-space: nowrap;
		position: relative;
		overflow: hidden;
		padding: var(--spacing-2) var(--spacing);
	}

	.profile-navigation-link {
		padding-inline: var(--spacing);
	}

	.profile-details-link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;

		&:hover {
			background-color: color-mix(in hsl, hsl(229.09, 75.86%, 65.88%) 4%, transparent);
		}
	}

	.profile-details-item-hero {
		font-weight: var(--font-weight-6);
		margin-inline-start: auto;
	}

	.profile-details-divider:last-of-type {
		display: none;
	}
}

/* Profile content */
.profile-content {
	padding: var(--spacing-4);
}
