/* Profile page */
.profile-header {
	.profile-header-cover {
		background-image: url(./../../../../../test/styles/all/theme/icons/img/baihu-header.png);
		border-radius: var(--border-radius);
	}

	.profile-header-info {
		display: flex;
		align-items: center;
		position: relative;
		flex-wrap: wrap;
		gap: var(--spacing-2);
		padding: var(--spacing-2) var(--spacing-lg);

		.profile-header-avatar-wrap {
			flex-basis: 100px;
			margin-inline: 0;
			margin-inline-end: var(--spacing);
			align-self: flex-end;
			position: relative;
		}

		.profile-header-avatar {
			position: absolute;
			bottom: 0;
		}
	}

	.profile-header-avatar-wrap {
		&.avatar-md {
			width: .5rem;
			height: .5rem;
		}

		.avatar-online {
			top: unset;
			bottom: 170%;
		}
	}

	.profile-header-meta {
		display: flex;
		align-items: center;

		h1 {
			font-size: 1.5rem;
		}

		.profile-header-tools {
			position: relative;
			margin-inline-start: var(--spacing-2);
		}
	}

	.profile-header-time,
	.profile-header-title {
		opacity: 0.5;
	}

	.profile-header-stats {
		display: flex;
		gap: var(--spacing-2);

		h4 {
			font-size: var(--font-size);
		}

		div {
			border-inline-start: 1px solid var(--color-light-alt-1);
			padding: var(--spacing-1) var(--spacing-lg);
		}

		@container page (inline-size < 741px) {
			text-align: center;
			flex: 1 1 100%;
			border-block-start: 1px solid var(--color-light-alt-1);

			div {
				flex: 1 1 auto;
			}

			div:first-of-type {
				border-inline-start: unset;
			}
		}
	}
}

/* Profile left side */
.profile-block {
	.block-stats {
		color: var(--color-text);
		padding: unset;
	}

	.profile-meta {
		text-align: center;
		margin: 0;
		padding: var(--spacing-3);

		.profile-group img {
			max-width: 200px;
		}
	}
}

.profile-details {
	font-size: var(--font-size);

	h4 {
		font-size: var(--font-size);
	}

	.profile-details-divider {
		background-color: var(--border-color);
		height: 1px;
	}

	.profile-details-item {
		display: flex;
		align-items: center;
		gap: var(--spacing-md);
		white-space: nowrap;
		position: relative;
		overflow: hidden;
		padding: var(--spacing-2) var(--spacing);
	}

	.profile-details-link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;

		&:hover {
			background-color: color-mix(in hsl, hsl(229.09, 75.86%, 65.88%) 4%, transparent);
		}
	}

	.profile-details-title {
		opacity: 0.5;
	}

	.profile-details-item-hero {
		font-weight: var(--font-weight-6);
		margin-left: auto
	}

	.profile-details-divider:last-of-type {
		display: none;
	}
}

/* Profile content */
.profile-content {
	padding: var(--spacing-4);

	.profile-meta-5 {
		font-size: var(--font-size);
		margin-bottom: var(--spacing-3);
	}

	/* .profile-details-text,
	.profile-details-link {
		vertical-align: middle;
	}

	.profile-details-icon + .profile-details-link,
	.profile-details-link + .profile-details-icon {
		padding-left: 0.5rem;
	}

	.profile-details-icon {
		color: var(--color-alt-1);
	}

	.profile-card {
		background-color: var(--block-background-color);
		border-radius: var(--border-radius);
		margin-bottom: var(--spacing-4);
		padding: var(--spacing-3);

		.profile-details-stats {
			margin-bottom: 0;
			padding-left: var(--spacing);
		}
	}

	.profile-card:last-of-type {
		margin-bottom: 0;
	} */
}
