/* Profile page */
.profile-header {
	border-radius: var(--border-radius);
	margin-block-end: var(--spacing-md);

	.profile-header-cover {
		background-image: url(./../../../../../test/styles/all/theme/icons/img/testing.webp);
		border-radius: var(--border-radius);
	}

	/* .profile-header-info {
		position: relative;
		height: 100px;

		.profile-header-avatar {
			position: absolute;
			top: -2rem;
			margin-left: 2rem;
		}
	} */
}

.profile-title {
	font-size: var(--spacing-md);
	margin-block-end: var(--spacing-md);
}

/* Profile left side */
.profile {
	padding-block: var(--spacing);
	margin: 0;

	.profile-avatar-wrap {
		width: 336px;
		margin-inline: auto;
	}

	.profile-details {
		list-style: none;
		margin: 0;
		margin-block-start: var(--spacing-md);
		padding-inline: var(--spacing);
	}
}

/* Profile content */
.profile-content {
	.profile-meta {
		text-align: center;
		margin: 0;
		padding: var(--spacing-3);

		.profile-user-title {
			opacity: 0.38;
		}

		.profile-group img {
			max-width: 200px;
		}
	}

	.profile-meta-5 {
		font-size: var(--font-size);
		margin-bottom: var(--spacing-3);
	}

	.profile-details-text,
	.profile-details-link {
		/* padding-left: 0.5rem; */
		vertical-align: middle;
	}

	.profile-details-icon + .profile-details-link,
	.profile-details-link + .profile-details-icon {
		padding-left: 0.5rem;
	}

	.profile-details-icon {
		color: var(--color-alt-1);
	}

	.profile-card {
		background-color: var(--block-background-color);
		border-radius: var(--border-radius);
		margin-bottom: var(--spacing-4);
		padding: var(--spacing-3);

		.profile-details-stats {
			margin-bottom: 0;
			padding-left: var(--spacing);
		}
	}

	.profile-card:last-of-type {
		margin-bottom: 0;
	}
}
