:root {
	interpolate-size: allow-keywords;

	--gray-50: #f9fafa;
	--gray-100: #e9ebec;
	--gray-300: #c8ccd0;
	--gray-500: #a7adb4;
	--gray-600: #969ea6;
	--gray-700: #868f98;
	--gray-800: #677079;
	--gray-900: #596169;
	--gray-1000: #4b5258;
	--gray-1200: #2f3337;
	--gray-1300: #212427;

	--blue-gray-200: #d3dee4;
	--blue-gray-1100: #334752;
	--blue-gray-1200: #27373f;

	--indigo-50: #f7f8fc;
	--indigo-100: #e1e4f4;
	--indigo-300: #b4bbe4;
	--indigo-500: #8692d5;
	--indigo-600: #707ecd;
	--indigo-700: #5969c5;
	--indigo-800: #3a4ba6;
	--indigo-1000: #2a3679;

	--blue-50: #f5fafe;
	--blue-100: #d8ecfd;
	--blue-200: #bbdffb;
	--blue-700: #2a99f4;

	--red-700: #f3382b;

	--green-500: #8ecd90;
	--green-700: #63bb66;

	/* Default colors */
	--color-primary: var(--indigo-500);
	--color-secondary: var(--gray-600);
	--color-success: var(--green-500);
	--color-info: #74d9e7;
	--color-warning: #f5e447;
	--color-danger: #f45348;
	--color-light: var(--gray-100);
	--color-dark: var(--gray-900);

	--color-border: var(--gray-50);
	--color-muted: var(--gray-800);
	--color-badge: var(--blue-700);

	/* Main colors */
	--bg-color: var(--indigo-50);
	--block-bg: white;
	--color: var(--gray-1300);
	--color-6: var(--gray-600);

	/* Gradient colors */
	--gradient-67: linear-gradient(to right, var(--indigo-600), var(--indigo-700));
	--gradient-78: linear-gradient(to right, var(--indigo-700), var(--indigo-800));

	/* Link colors */
	--link: var(--indigo-800);
	--link-hover: var(--indigo-600);

	/* Default settings */
	--font-family:
		Roboto, Helvetica, Arial, sans-serif, system-ui, -apple-system,
		"Segoe UI", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--font-size: 1rem;

	--font-weight: 400;
	--font-weight-6: 600;
	--font-weight-7: 700;

	--line-height: 1.5;

	--box-shadow: 0 0 40px 0 rgba(94,92,154, .06);
	--box-shadow-2:
		0 2px 4px -1px rgba(0, 0, 0, 0.2),
		0 4px 5px 0px rgba(0, 0, 0, 0.14),
		0 1px 10px 0 rgba(0, 0, 0, 0.12);
	--box-shadow-3:
		0px 3px 1px -2px rgba(0, 0, 0, 0.2),
		/* 0px 2px 2px 0px rgba(0, 0, 0, 0.14), */
		0px 1px 5px 0px rgba(0, 0, 0, 0.12);

	--transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

	/* Border */
	--border: 1px solid var(--color-border);
	--border-size: 1px;
	--border-radius: 8px;
	--border-color: var(--color-border);

	/* Icon sizes */
	--icon-sm: 16px;
	--icon-md: 24px;
	--icon-lg: 40px;
	--icon-xxl: 200px;

	/* Spacing sizes */
	--spacing: 1rem;
	--spacing-md: 1.5rem;
	--spacing-lg: 2rem;

	/* Spacing 5-25px */
	--spacing-1: 0.3125rem;
	--spacing-2: 0.625rem;
	--spacing-3: 0.9375rem;
	--spacing-4: 1.25rem;
	--spacing-5: 1.5625rem;
	--spacing-6: 1.75rem;

	/* Width / Height sizes */
	--size-sm: 56px;
}
