:root {
	interpolate-size: allow-keywords;

	--indigo-100: #e1e4f4;
	--indigo-600: #707ecd;
	--indigo-700: #5969c5;
	--indigo-800: #3a4ba6;

	/* Default colors */
	--color-main: #8692d5;
	--color-alt-1: #a7adb4;
	--color-alt-2: #2a99f4;
	--color-success: #8ecd90;
	--color-info: #74d9e7;
	--color-warning: #f5e447;
	--color-danger: #f45348;
	/* Light */
	--color-light: #f9fafa;
	--color-light-alt-1: #e9ebec;
	--color-light-alt-2: #d8dbde;
	/* Dark */
	--color-dark: #4b5258;
	--color-dark-alt-1: #2f3337;

	/* --color-border: var(--color-light); */
	--color-muted: #677079;
	--color-badge: var(--color-alt-2);

	/* Main colors */
	--background-color: #f7f8fc;
	--background-color-darker: var(--color-main);
	--block-background-color: white;
	--color-text: #3e3f5e;

	/* Gradient colors */
	--gradient-67: linear-gradient(to right, var(--indigo-600), var(--indigo-700));
	--gradient-78: linear-gradient(to right, var(--indigo-700), var(--indigo-800));

	/* Link colors */
	--link: var(--indigo-800);
	--link-hover: var(--indigo-600);

	/* Default settings */
	--font-family:
		Roboto, "Helvetica Neue", Arial, sans-serif, system-ui, -apple-system,
		"Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		/* "Noto Sans", "Liberation Sans" */


	--font-size: 1rem;
	--font-weight: 400;
	--font-weight-6: 600;
	--line-height: 1.5;

	--box-shadow: 0 0 40px 0 rgba(94,92,154, .06);
	--box-shadow-2:
		0px 3px 1px -2px rgba(0, 0, 0, 0.2),
		0px 1px 5px 0px rgba(0, 0, 0, 0.12);

	--transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

	/* Border */
	--border: 1px solid var(--color-light-alt-1);
	--border-size: 1px;
	--border-radius: 8px;
	--border-color: var(--color-light-alt-1);

	/* Icon sizes */
	--icon-sm: 16px;
	--icon-md: 24px;
	--icon-lg: 40px;
	--icon-xxl: 200px;

	/* Spacing sizes */
	--spacing: 1rem;
	--spacing-md: 1.5rem;
	--spacing-lg: 2rem;

	/* Spacing 5-25px */
	--spacing-1: 0.3125rem;
	--spacing-2: 0.625rem;
	--spacing-3: 0.9375rem;
	--spacing-4: 1.25rem;
	--spacing-5: 1.5625rem;
	--spacing-6: 1.75rem;

	/* Width / Height sizes */
	--size-sm: 56px;
}
