services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            string $php_ext: '%core.php_ext%'
            string $admin_path: '%core.root_path%%core.adm_relative_path%'

    baihu.area.manager:
        class: baihu\baihu\src\area\manager
        autowire: false
        arguments:
            - '@auth'
            - '@cache'
            - '@dbal.conn'
            - '@event_dispatcher'
            - '@template'
            - '@baihu.controller_helper'
            - '%core.table_prefix%'

    baihu\baihu\src\area\manager: '@baihu.area.manager'

    baihu.area_kernel_subscriber:
        class: baihu\baihu\src\area\event\area_kernel_subscriber
        tags:
            - { name: kernel.event_subscriber }

    baihu.area_subscriber:
        class: baihu\baihu\src\area\event\area_subscriber
        tags:
            - { name: kernel.event_subscriber }

# ----- Controllers -----
    baihu.admin_controller:
        class: baihu\baihu\src\controller\admin\index_controller
        tags: ['container.service_subscriber']

    baihu.admin_redirect:
        class: baihu\baihu\src\controller\admin\admin_redirect_main
        tags: ['container.service_subscriber']
