services:
    _defaults:
        autowire: true
        autoconfigure: true

    baihu.area.manager:
        class: baihu\baihu\src\area\manager
        autowire: false
        arguments:
            - '@auth'
            - '@cache'
            - '@dbal.conn'
            - '@event_dispatcher'
            - '@template'
            - '@baihu.controller_helper'
            - '%core.table_prefix%'

    baihu\baihu\src\area\manager: '@baihu.area.manager'

    baihu.area_kernel_subscriber:
        class: baihu\baihu\src\area\event\area_kernel_subscriber
        tags:
            - { name: kernel.event_subscriber }

    baihu.area_subscriber:
        class: baihu\baihu\src\area\event\area_subscriber
        tags:
            - { name: kernel.event_subscriber }
