services:
    _defaults:
        autowire: true
        autoconfigure: true

    baihu.abstract_controller:
        abstract: true

    baihu.controller_helper:
        class: baihu\baihu\src\controller\controller_helper
        autowire: false
        arguments:
            - '@language'
            - '@routing.helper'
            - '@template'

    baihu\baihu\src\controller\controller_helper: '@baihu.controller_helper'

# ----- Controllers -----
    baihu.index_controller:
        class: baihu\baihu\src\controller\index_controller
        calls:
            - [set_container, ['@Psr\Container\ContainerInterface']]
        tags: ['container.service_subscriber']

    baihu.posts_controller:
        class: baihu\baihu\src\controller\posts_controller
        arguments:
            - '%core.php_ext%'
        calls:
            - [set_container, ['@Psr\Container\ContainerInterface']]
        tags: ['container.service_subscriber']
