services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            string $php_ext: '%core.php_ext%'
            string $admin_path: '%core.root_path%%core.adm_relative_path%'

    baihu.abstract_controller:
        abstract: true

    baihu.controller_helper:
        class: baihu\baihu\src\controller\controller_helper
        autowire: false
        arguments:
            - '@language'
            - '@routing.helper'
            - '@template'

    baihu\baihu\src\controller\controller_helper: '@baihu.controller_helper'

# ----- Controllers -----
    baihu.index_controller:
        class: baihu\baihu\src\controller\index_controller
        tags: ['container.service_subscriber']

    baihu.posts_redirect_controller:
        class: baihu\baihu\src\controller\posts_redirect_controller
        tags: ['container.service_subscriber']
