services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            string $php_ext: '%core.php_ext%'
            string $admin_path: '%core.root_path%%core.adm_relative_path%'

    baihu.members.subscribers:
        class: baihu\baihu\src\members\event\subscribers
        tags:
            - { name: event.listener }

    baihu.members.tabs:
        class: baihu\baihu\src\members\manager
        autowire: false
        arguments:
            - '@baihu.members.tabs.collection'
            - '@baihu.controller_helper'
            - '@language'
            - '@template'
            - '%core.root_path%'
            - '%core.php_ext%'

    baihu\baihu\src\members\manager: '@baihu.members.tabs'

    baihu.members.tabs.collection:
        class: phpbb\di\ordered_service_collection
        arguments:
            - '@service_container'
        tags:
            - { name: service_collection, tag: baihu.profile.tabs }

    baihu.members.tabs.base:
        abstract: true
        autowire: false
        arguments:
            - '@auth'
            - '@dbal.conn'
            - '@event_dispatcher'
            - '@controller.helper'
            - '@language'
            - '@template'
            - '@user'

# ----- GZO Tabs -----
    baihu.members.tabs.profile:
        class: baihu\baihu\src\members\tabs\profile
        autowire: false
        parent: baihu.members.tabs.base
        arguments:
            - '@config'
            - '@group_helper'
            - '@profilefields.manager'
            - '%core.adm_relative_path%'
            - '%core.root_path%'
            - '%core.php_ext%'
        calls:
            - [set_name, [profile]]
        tags:
            - { name: baihu.profile.tabs, order: 1 }

# ----- Controllers -----
    baihu.profile_controller:
        class: baihu\baihu\src\controller\member\profile_controller
        tags: ['container.service_subscriber']

    baihu.members_controller:
        class: baihu\baihu\src\controller\member\members_controller
        tags: ['container.service_subscriber']
