services:
    _defaults:
        autowire: true
        autoconfigure: true

    baihu.plugin.loader:
        class: baihu\baihu\src\plugin\loader
        autowire: false
        arguments:
            - '@dbal.conn'
            - '@baihu.plugin.collection'
            - '@baihu.plugin.data'
            - '%baihu.tables.plugins%'
            - '%baihu.tables.plugins_on_page%'

    baihu.plugin.data:
        class: baihu\baihu\src\plugin\data

    baihu.plugin_subscriber:
        class: baihu\baihu\src\plugin\event\plugin_subscriber
        tags:
            - { name: event.listener }

    baihu.plugin.base:
        abstract: true

    baihu.posts:
        class: baihu\baihu\src\plugin\article\posts
        parent: baihu.plugin.base
        autowire: false
        arguments:
            - '@pagination'
            - '@text_formatter.renderer'
        calls:
            - [set_container, ['@Psr\Container\ContainerInterface']]
        tags: ['container.service_subscriber']

    baihu\baihu\src\plugin\loader: '@baihu.plugin.loader'
    baihu\baihu\src\plugin\data: '@baihu.plugin.data'
    baihu\baihu\src\plugin\article\posts: '@baihu.posts'

# ----- Plugins -----
    baihu.plugin.collection:
        class: phpbb\di\service_collection
        arguments:
            - '@service_container'
        tags:
            - { name: service_collection, tag: baihu.plugin }

    baihu.baihu.plugin.mini_profile:
        class: baihu\baihu\src\plugin\sidebar\mini_profile
        calls:
            - [loadable, [false]]
            - [dynamic, [false]]
            - [block, [true]]
            - [set_container, ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: baihu.plugin }
            - { name: container.service_subscriber }

    baihu.baihu.plugin.information:
        class: baihu\baihu\src\plugin\sidebar\information
        calls:
            - [loadable, [true]]
            - [dynamic, [false]]
            - [block, [true]]
            - [set_container, ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: baihu.plugin }
            - { name: container.service_subscriber }

    baihu.baihu.plugin.group:
        class: baihu\baihu\src\plugin\sidebar\group
        calls:
            - [loadable, [true]]
            - [dynamic, [true]]
            - [block, [true]]
            - [set_container, ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: baihu.plugin }
            - { name: container.service_subscriber }

    baihu.baihu.plugin.top_posters:
        class: baihu\baihu\src\plugin\sidebar\top_posters
        calls:
            - [loadable, [true]]
            - [dynamic, [false]]
            - [block, [true]]
            - [set_container, ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: baihu.plugin }
            - { name: container.service_subscriber }

    baihu.baihu.plugin.recent_posts:
        class: baihu\baihu\src\plugin\sidebar\recent_posts
        calls:
            - [loadable, [true]]
            - [dynamic, [true]]
            - [block, [true]]
            - [set_container, ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: baihu.plugin }
            - { name: container.service_subscriber }

    baihu.baihu.plugin.recent_topics:
        class: baihu\baihu\src\plugin\sidebar\recent_topics
        calls:
            - [loadable, [true]]
            - [dynamic, [true]]
            - [block, [true]]
            - [set_container, ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: baihu.plugin }
            - { name: container.service_subscriber }

    baihu.baihu.plugin.online:
        class: baihu\baihu\src\plugin\block\online
        calls:
            - [loadable, [true]]
            - [dynamic, [false]]
            - [block, [true]]
            - [set_container, ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: baihu.plugin }
            - { name: container.service_subscriber }
