services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            string $php_ext: '%core.php_ext%'
            string $admin_path: '%core.root_path%%core.adm_relative_path%'
            string $root_path: '%core.root_path%'

    baihu.profile.subscribers:
        class: baihu\baihu\src\plugin\profile\event\subscribers
        tags:
            - { name: event.listener }

    baihu.profile.loader:
        class: baihu\baihu\src\plugin\profile\loader
        autowire: false
        arguments:
            - '@baihu.controller_helper'
            - '@baihu.profile.model.zebra'
            - '@baihu.profile.tabs.collection'
            - '@dbal.conn'
            - '@event_dispatcher'
            - '%core.root_path%%core.adm_relative_path%'
            - '%core.php_ext%'
            - '%core.root_path%'

    baihu.profile.model.zebra:
        class: baihu\baihu\src\plugin\profile\model\zebra

    baihu\baihu\src\plugin\profile\loader: '@baihu.profile.loader'
    baihu\baihu\src\plugin\profile\model\zebra: '@baihu.profile.model.zebra'

# ----- Profile Tabs -----
    baihu.profile.tabs.collection:
        class: phpbb\di\ordered_service_collection
        arguments:
            - '@service_container'
        tags:
            - { name: service_collection, tag: baihu.profile.tabs }

    baihu.profile.tabs.base:
        abstract: true

    baihu.profile.tabs.profile:
        class: baihu\baihu\src\plugin\profile\tabs\profile
        calls:
            - [set_tab_name, [profile]]
            - [restrict_bots, [false]]
        tags:
            - { name: baihu.profile.tabs, order: 1 }
            - { name: container.service_subscriber }

    baihu.profile.tabs.friends:
        class: baihu\baihu\src\plugin\profile\tabs\friends
        calls:
            - [set_tab_name, [friends]]
            - [restrict_bots, [true]]
        tags:
            - { name: baihu.profile.tabs, order: 4 }
            - { name: container.service_subscriber }

# ----- Controllers -----
    baihu.profile_controller:
        class: baihu\baihu\src\controller\member\profile_controller
        tags: ['container.service_subscriber']

    baihu.profile.friend_controller:
        class: baihu\baihu\src\controller\member\friend_controller
        tags: ['container.service_subscriber']

    baihu.profile.blacklist_controller:
        class: baihu\baihu\src\controller\member\blacklist_controller
        tags: ['container.service_subscriber']

    baihu.members.redirect_controller:
        class: baihu\baihu\src\controller\member\redirect_controller
        tags: ['container.service_subscriber']
