{% extends '@baihu_baihu/layout/profile-base.twig' %}

{% block baihu_main_content %}

	<article class="block post">
		<div class="profile-content">{{ lang('BAIHU_UC') }}</div>
	</article>

{% endblock %}

{% block baihu_main_left %}{% endblock %}
