{% extends '@baihu_baihu/layout/profile-base.twig' %}

{% block gzo_main_content %}

	<article class="block post">
		<div class="profile-content">{{ lang('BAIHU_UC') }}</div>
	</article>

{% endblock %}

{# {% block gzo_main_left %}
	<aside class="section-side">{{ block('baihu_statistics', '@baihu_baihu/includes/profile-side.twig') }}</aside>
{% endblock %} #}
