{% extends '@baihu_baihu/layout/profile-base.twig' %}

{% block baihu_main_content %}

	{% EVENT memberlist_view_content_prepend %}

	{% for article in user_posts %}
		{{ include('@baihu_baihu/includes/article-item.twig') }}
	{% else %}
		<article class="block post">
			<div class="profile-content">{{ lang('BAIHU_NO_ACTIVITY') }}</div>
		</article>
	{% endfor %}

	{% EVENT memberlist_view_content_append %}

{% endblock %}

{% block baihu_profile_aside %}
	{{ include('@baihu_baihu/includes/profile-side.twig') }}
{% endblock %}
