{% extends '@baihu_baihu/layout/profile-base.twig' %}

{% block gzo_main_content %}

	{% EVENT memberlist_view_content_prepend %}

	{% if user_posts %}
		{% for article in user_posts %}
			{{ include('@baihu_baihu/includes/article-item.twig') }}
		{% endfor %}
	{% endif %}

	{% if SIGNATURE %}
		<div class="block profile-block">
			<div class="bar block-bar">
				<span class="bar-item bar-info">
					<h3>{{ lang('SIGNATURE') }}</h3>
				</span>
			</div>

			<div class="profile-content">{{ SIGNATURE }}</div>

		</div>
	{% endif %}

	{% EVENT memberlist_view_content_append %}

{% endblock %}
